html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
}
.main > img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  position: absolute;
  height: 41px;
  width: 41px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  cursor: pointer;
}

.btn-blue {
  background-color: rgba(56, 119, 238, 0.7);
}

.btn-green {
  background-color: rgba(106, 191, 75, 0.7);
}

.opened {
  width: auto;
  padding: 0 15px;
  font-size: 14px;
}

#parking {
  left: 30%;
  top: 26%;
}

#bridge {
  left: 23%;
  bottom: 30%;
}

#stadium {
  left: 36%;
  top: 45%;
}

#column {
  left: 56%;
  bottom: 38%;
}

#hotel {
  left: 58%;
  bottom: 23%;
}

#museum {
  left: 60%;
  top: 37%;
}

#appsLeft {
  left: 68%;
  bottom: 34%;
}

#residentalArea {
  left: 72%;
  top: 20%;
}

#canteen {
  left: 74%;
  top: 44%;
}

#appsRight {
  right: 15%;
  bottom: 30%;
}
